@font-face {
  font-family: "Arame";
  font-weight: bold;
  src: url("../assets/Arame-Bold.woff") format("woff");
}

@font-face {
  font-family: "Rational";
  font-weight: light;
  src: url("../assets/3ACE88_0_0.woff2") format("woff2");
}

@font-face {
  font-family: "Rational";
  font-weight: bold;
  src: url("../assets/3ACE93_0_0.woff2") format("woff2");
}

@font-face {
  font-family: "Fira Code";
  font-weight: 100;
  src: url("../assets/FiraCode-Light.ttf") format("ttf");
}

@font-face {
  font-family: "Fira Code";
  font-weight: 200;
  src: url("../assets/FiraCode-Medium.ttf") format("ttf");
}

@font-face {
  font-family: "Fira Code";
  font-weight: 300;
  src: url("../assets/FiraCode-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Fira Code";
  font-weight: 400;
  src: url("../assets/FiraCode-SemiBold.ttf") format("ttf");
}

@font-face {
  font-family: "Fira Code";
  font-weight: 500;
  src: url("../assets/FiraCode-Bold.ttf") format("ttf");
}